extends ../layouts/default

block content
	if data.posts.results && data.posts.results.length > 0
		//- do things with posts here
		-console.log(data)
		each post, index in data.posts.results
			p hello world
	else
		h3.text-muted No posts here