extends ../layouts/default

block content
	.container.text-center
		img(src="/images/profile.jpg").profileImage
		h3 Chris MacPherson
		.col-md-6.col-sm-8.col-xs-12.col-md-offset-3.col-sm-offset-2
			p I'm an entrepreur, badass, learner, person trying to do cool shit. currently hacking at vayner pubshing. trying to change the world
