doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'personal'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		//- Customise the stylesheet for your site by editing / public/styles/site.scss
		link(href="/styles/site.css", rel="stylesheet")

	
		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")


		//- fonts includes
		link(href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic|Quicksand:400,700,300', rel='stylesheet', type='text/css')
		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		//- HEADER
		#header: .container

			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.

			div(role="navigation").navbar.navbar-default.navigation
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/')
							span.glyphicon.glyphicon-home
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-left.navigation__links
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
		//- BODY
		#body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The content block should contain the body of your template's content
			block content




		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-1.11.3.min.js')

		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')


		//- Tracking scripts
		script(src='/js/includes.js')


	

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.
		script(src='/js/social.js')
		script(src='/js/infiniteScroll.js')
		script(src='/js/emailSubscribe.js')
		script(src='/js/ads.js')

		//- Include template-specific javascript files by extending the js block
		block js
