// Override Bootstrap variables in this file, e.g.


$font-size-base: 14px;

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url('/fonts/bootstrap/glyphicons-halflings-regular.woff');
}
body{
	font-family: 'Noto Serif' serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Quicksand' sans-serif;
}