// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.
//** Point at which the navbar becomes uncollapsed.


@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";




// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

.navigation{
	background: none;
	border: none;
	font-family: 'Quicksand' sans-serif;
	border-radius: 0;
	margin-bottom: 40px;
    
    &__links{
    	border-bottom: 1px solid #eeeeee;
    }
}
.profileImage{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-top: 5%;
}
.storyThumbnail{
	&__wrapper{
		border-radius: $border-radius-base;
		border: 1px solid $gray-lighter;
		padding: 15px;
		color: $text-color;
		margin-bottom: -45px;
		&:hover{
			text-decoration: none;
			color: $gray-base;
		}
		display: inline-block;
		@media (max-width: $screen-md-min) { 
			margin-bottom: 0px;
		}

	}
	&__date{
		color: $gray-light;
		position: relative;
		margin-top: 0px;
		&--alignRight{
			@extend .storyThumbnail__date;
			text-align: right;
			@media (max-width: $screen-md-min) { 
				text-align: left;	
			}
		}
	}
}
.timeline{
	&__leftLine{
		border-left: 1px solid $gray-lighter;
		margin-left: -1px;
		@media (max-width: $screen-md-min) {
			margin-left: 15px;
			padding-bottom: 25px;
		}
	}
	&__rightLine{
		border-right: 1px solid $gray-lighter;
		@media (max-width: $screen-md-min) { 
			border-right: none;
			margin-left: 15px;
			border-left: 1px solid $gray-lighter;
			padding-bottom: 25px;
		}
	}
	&__circle{
		height: 15px;
		width: 15px;
		border-radius: 50%;
		border: 3px solid #fff;
		background-color: $gray-lighter;
		position: absolute;
		top: -2px;

		&--alignRight{
			@extend .timeline__circle;
			right: -23px;
			@media (max-width: $screen-md-min) {
				left: -23px;
			}
		}
		&--alignLeft{
			@extend .timeline__circle;
			left: -23px;
		}
		
	}
}

